$colors: (
  common: (
    white: #ffffff,
    black: #000000,
    border: #e4e4e4,
    border-input: #1e1e1e,
    blue-white: #e5edf1,
    gray: #6f7271,
    gray-light: #f8f8f8,
    placeholder: #b7b7b7,
    text: #6b6b6b,
    title: #00493c,
    green: #008c73,
  ),
  heading: (
    primary: #5e61b5,
  ),
  grey: (
    1: #f7f8fd,
    2: #f8f8f8,
  ),
  text: (
    body: #6b6b6b,
    p: #6b6b6b,
  ),
  theme: (
    1: #00cea9,
    2: #00493c,
    primary: #00cea9,
    secondary: #00493c,
  ),
  border: (
    1: #e8ecf2,
  ),
);
